/*CSS共通*/
@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    color: #000000;
    font-size: 1.2rem;
    margin: 0;
}

*,*::before, *::after {
    box-sizing: border-box;
}

h1,h2,h3, p {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
}
.content-wrapper {
    max-width: 979px;
    margin: 0 auto;
}

 /*テキストデフォルト下線外し*/
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
/*css共通ここまで*/

/*header*/
.header {
    position: relative;
    width: 100%;
    height: ;
    background-size: cover;
    text-align: center;
    background: url('/pic.png/パス\ 62@2x.png');
}



/*グローバルナビゲーション*/
.global-nav {
    position: absolute;
    padding: 65px 155.5px 657px 150px;
    width: 974.5px;
    height: 77px;
    text-align: center;
    color: #676767;
    font-family: "Noto Sans CJK JP";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 4.2px;
    background-color: #ffffff;

}

.global-nav .nav-item {
    display: inline-block;
    margin: 0 10px;
}
.global-nav .nab-item span {
    font-size: 10px;
}

/*グローバルナビゲーションここまで*/
/*メインビジュアル*/
.top {
    padding: 0 158px 0 157px;
    background-color: #f2f3f7;
}

/*サイトタイトル*/
.site-title {
    color: #d4004e;
    padding: 215.5px 814px 308.5px 157px;
    font-size: 76px;
    font-family: 'ITC Avant Garde Gothic';
    line-height: 1.14;
    letter-spacing: 22.8px;


}

/*サイトタイトルここまで*/
/*サイトサブタイトル*/
.site-title-sub {
    color: #d4004e;
    padding: 513px 971px 236px 162px;
    margin-top: 22.5px;
    font-family: 'Noto Sans CJK JP';
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 6.4px;



}
.site-title-sub span {

}


/*サイトサブタイトルここまで*/


/*メインビジュアルここまで*/